.App {
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 0.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9fca98;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
  font-size: calc(10px + 2vmin);
  color: white;
  animation: color-change 1s infinite alternate;
}

h1 {
  color: #61dafb;
  font-size: calc(10px + 2vmin);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
p {
  font-size: larger;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  color: white;
  background-color: #9fca98;
  padding: 5px;
  margin: 5px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@keyframes color-change {
  0% {
    color: grey;
  }
  30% {
    color: black;
  }
  60% {
    color: white;
  }
  60% {
    color: grey;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
